CONFIG_ARCH=avr
CONFIG_MCU=atmega32
CONFIG_MACH=avrnetio

CONFIG_MCU_FREQ=16000000
CONFIG_MAX_RAM=2048
CONFIG_MAX_ROM=30720
CONFIG_BAUD_RATE=57800

CONFIG_FLASH_TOOL=avrdude
CONFIG_FLASH_FORMAT=ihex
CONFIG_AVRDUDE_MCU=m32

CONFIG_BOOTLOADER=y
CONFIG_BOOTLOADER_ADDR=0x7800
CONFIG_BOOTLOADER_SIZE=2048
