CONFIG_DEBUG=y

CONFIG_DEBUG_ACTION=1
CONFIG_DEBUG_FUNC=1
CONFIG_DEBUG_OFFSET=0
CONFIG_DEBUG_PROTO=1
CONFIG_DEBUG_KNOK=1
CONFIG_DEBUG_STATUS=0
CONFIG_DEBUG_REG=1

CONFIG_DEBUG_BUFFER=1
CONFIG_DEBUG_HANDLER=1
CONFIG_DEBUG_MSGIO=1

CONFIG_DEBUG_HANDLER_ECHO=1
CONFIG_DEBUG_HANDLER_NULL=1

CONFIG_DEBUG_DRIVER_NULL=1
CONFIG_DEBUG_DRIVER_ENC28J60=0
CONFIG_DEBUG_DRIVER_SDCARD=1
CONFIG_DEBUG_DRIVER_WIZNET=1
