CONFIG_DEBUG=y

CONFIG_DEBUG_ACTION=0
CONFIG_DEBUG_FUNC=0
CONFIG_DEBUG_OFFSET=0
CONFIG_DEBUG_PROTO=0
CONFIG_DEBUG_KNOK=1
CONFIG_DEBUG_STATUS=1
CONFIG_DEBUG_REG=1
CONFIG_DEBUG_PARAM=1

CONFIG_DEBUG_MEM=1
CONFIG_DEBUG_HANDLER=1
CONFIG_DEBUG_MSGIO=1

CONFIG_DEBUG_HANDLER_ECHO=1
CONFIG_DEBUG_HANDLER_NULL=1

CONFIG_DEBUG_DRIVER_NULL=1
CONFIG_DEBUG_DRIVER_ENC28J60=0
CONFIG_DEBUG_DRIVER_SDCARD=0
CONFIG_DEBUG_DRIVER_WIZNET=1
CONFIG_DEBUG_DRIVER_UFAT=1
