CONFIG_ARCH=avr
CONFIG_MCU=atmega328
CONFIG_MACH=ardunano
CONFIG_PTR_BITS=16

CONFIG_MCU_FREQ=16000000
CONFIG_MAX_RAM=2048
CONFIG_MAX_ROM=30720
CONFIG_BAUD_RATE=57600

CONFIG_FLASH_TOOL=avrdude
CONFIG_FLASH_FORMAT=ihex

CONFIG_AVRDUDE_MCU=m328p
CONFIG_AVRDUDE_LFUSE=0xff
CONFIG_AVRDUDE_HFUSE=0xda
CONFIG_AVRDUDE_EFUSE=0x05

CONFIG_BOOTLOADER=y
CONFIG_BOOTLOADER_ADDR=0x7800
CONFIG_BOOTLOADER_SIZE=2048

CONFIG_BUFFER_SIZE=1516

CONFIG_SPI=y
CONFIG_CRC=y

CONFIG_DRIVER_ENC28J60=y
CONFIG_DRIVER_ENC28J60_SPI_CS=0

CONFIG_DRIVER_SDCARD=y
CONFIG_DRIVER_SDCARD_SPI_CS=1
CONFIG_DRIVER_SDCARD_CRC=y

CONFIG_BOOTSTRAP=y
