CONFIG_ARCH=avr
CONFIG_MCU=atmega32u4
CONFIG_MACH=teensy20

CONFIG_MCU_FREQ=16000000
CONFIG_MAX_RAM=2048
CONFIG_MAX_ROM=30720
CONFIG_BAUD_RATE=57600

CONFIG_FLASH_TOOL=avrdude
CONFIG_FLASH_FORMAT=ihex
CONFIG_AVRDUDE_MCU=atmega32u4
CONFIG_AVRDUDE_LFUSE=0xdf
CONFIG_AVRDUDE_HFUSE=0xda
CONFIG_AVRDUDE_EFUSE=0xcb

CONFIG_BOOTLOADER=y
CONFIG_BOOTLOADER_ADDR=0x7800
CONFIG_BOOTLOADER_SIZE=2048
