CONFIG_ARCH=avr
CONFIG_MCU=atmega32u4
CONFIG_MACH=teensy20
CONFIG_PTR_BITS=16

CONFIG_MCU_FREQ=16000000
CONFIG_MAX_RAM=2048
CONFIG_MAX_ROM=30720
CONFIG_STACK_SIZE=128
CONFIG_BAUD_RATE=57600

CONFIG_FLASH_TOOL=avrdude
CONFIG_FLASH_FORMAT=ihex
CONFIG_AVRDUDE_MCU=atmega32u4
CONFIG_AVRDUDE_LFUSE=0xdf
CONFIG_AVRDUDE_HFUSE=0xda
CONFIG_AVRDUDE_EFUSE=0xcb

CONFIG_BOOTLOADER=y
CONFIG_BOOTLOADER_ADDR=0x7800
CONFIG_BOOTLOADER_SIZE=2048

CONFIG_DRIVER_WIZNET=y
CONFIG_DRIVER_WIZNET_SPI_CS=0
CONFIG_DRIVER_WIZNET_NUM_SOCKETS=4

CONFIG_DRIVER_SDCARD=y
CONFIG_DRIVER_SDCARD_SPI_CS=1
CONFIG_DRIVER_SDCARD_CRC=y

CONFIG_TOOL_UFAT=y

CONFIG_BOOTSTRAP=n
