CONFIG_ARCH=mk20
CONFIG_MCU=mk20dx256
CONFIG_MACH=teensy32
CONFIG_PTR_BITS=32

CONFIG_MCU_FREQ=72000000
CONFIG_MAX_RAM=65536
CONFIG_MAX_ROM=262144
CONFIG_STACK_SIZE=4096
CONFIG_BAUD_RATE=57600

CONFIG_FLASH_TOOL=teensyloader
CONFIG_FLASH_FORMAT=ihex

CONFIG_DRIVER_SDCARD=y
CONFIG_DRIVER_SDCARD_SPI_CS=1
CONFIG_DRIVER_SDCARD_CRC=n

CONFIG_DRIVER_UFAT=y

CONFIG_BOOTSTRAP=y
